DATABASE_URL=
JWT_SECRET=
NEXT_PUBLIC_VAPI_PUBLIC_KEY=
NEXT_PUBLIC_VAPI_ASSISTANT_ID=

# Option 1: API Key for Read-Only Access to Public Sheets
GOOGLE_API_KEY=

# Option 2: Service Account for Full CRUD Operations
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Sheet Tab Names
GOOGLE_SHEET_ENTERTAINMENT_TAB="Special_Events"
GOOGLE_SHEET_MENU_TAB="Special_Foods"
GOOGLE_SHEET_REQUESTS_TAB="Special_Request"